@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
	/* typography */
	--font-poppins: 'Poppins';
	--main-heading-fs: 3.5rem;
	--sub-heading-fs: 2rem;
	--text-default-fs: 1rem;
	--text-xsm: 0.87rem;

	/* colors */
	--white: #ffffff;
	--bgc-page: #1f1f1f;
	--heading-color: var(--white);
	--primary-color: #333333;
	--secondary-color: #666666;
	--bgc-ui: #111111;
	--bgc-ui-hover: var(--white);
	--border-color: rgba(102, 102, 102, 0.35);
}
